@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
/* main Styles */
/* Global */

body {
  font-family: 'Domine', Georgia, 'Times New Roman', Times, serif;
  background-image: url(./lib/background.png);
  color: #3f382e;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: #3f382e;
}

#main {
  @apply leading-relaxed text-sm;
}

@screen sm {
  #main {
    @apply text-base;
  }
}

@screen lg {
  #main {
    min-height: 40vh;
    @apply text-lg;
  }
}

/* Headers */
#main h1,
#main h2 {
  @apply text-xl my-6 font-semibold;
}
#main h3,
#main h4,
#main h5,
#main h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {
  #main h1,
  #main h2 {
    @apply text-2xl;
  }
  #main h3,
  #main h4,
  #main h5,
  #main h6 {
    @apply text-xl;
  }
}

/* Links */
#main a {
  @apply text-blue-600;
}
#main a:hover {
  @apply underline;
}
/* Paragraph */
#main p {
  @apply mb-4;
}
/* Lists */
#main ul,
#main ol {
  @apply mb-4 ml-8;
}
#main li > p,
#main li > ul,
#main li > ol {
  @apply mb-0;
}
#main ol {
  @apply list-decimal;
}
#main ul {
  @apply list-disc;
}
/* Blockquotes */
#main blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}
#main blockquote > p {
  @apply mb-0;
}
/* Tables */
#main td,
#main th {
  @apply px-2 py-1 border border-gray-400;
}
#main tr:nth-child(odd) {
  @apply bg-gray-100;
}
#main table {
  @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/
#main :not(pre) > code.language-text {
  white-space: pre-line;
}
/* purgecss end ignore */
